* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;

    color: rgb(0, 0, 0);
   
   
  
  
  }
  
  .header {
    width: 100%;
    height: 80px;
   
    display: flex;
    justify-content: space-between;
  
    
    
  
  
  
  }
  
  .SMlogo {
    width: 75px;
    align-items: center;
    margin: 20%;
    cursor: pointer;
    height: 45px;
  }
    
   
  .options {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    font-weight: 400;
    padding: 20px;
   
    
  
  }

  
  .clickoption {
    list-style: none;
    display: flex;
    margin: 15px;
    transition: all 0.3s;

  }
  
  .clickoption:hover {
    color: rgb(174, 154, 154);
    cursor: pointer;
    /* font-size: 13px; */
  
  
  }
  
  #Stylebutton {

    color: rgb(0, 0, 0);
    cursor: pointer; 
    
  
  }
  
  #Stylebutton:hover {
    color: rgb(0, 0, 0);
   border: 1px solid black;
   background-color: rgb(252, 255, 248);
    transition: all 0.4s;
    border-radius: 5px;
    padding: 3px;
    
  
  }
  
  .linkpages {
    text-decoration: none;
  }
  
  .MyPara {
    height: 77vh;
    width: 96%;
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
    margin: auto;
  
  
  }
  
  h2 {
    font-size: 25px;
    font-weight: 700;
  
  }
  
  .Mypic {
    width: 100%;
    max-width: 250px;
    max-height: 250px;
    height: auto;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.4) inset;
    border-radius: 50%;
    margin: 10px auto;
    align-items: center;
    display: flex;
  
  }
  
  .allcontent {
    font-size: 18px;
    text-align: center;
    margin-top: -32px;
  
  }
  
  .style-name {
    color: rgb(0, 0, 0);
    justify-content: space-between;
  }
  
  .about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px;
    margin: 10px;
    margin-top: -45px;
  
  }

  .aboutbut {
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    list-style: none;
    display: flex;
    margin: 5px;
    transition: all 0.4s;
  }
  .aboutbut2 {
    background-image: linear-gradient(144deg,#00c0ba, #009fcb 50%,#00b7c4);
    list-style: none;
    display: flex;
    margin: 5px;
    transition: all 0.4s;
  }
  
  .aboutbut:hover {
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 13px;
  
  }
  .aboutbut2:hover {
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 13px;
  
  }
  
  #aboutstyle {
    padding: 10px 20px;
    border: 1px solid rgb(0, 0, 0);
    /* background-color: rgb(58, 25, 58); */
    color: rgb(255, 255, 255);
    border-radius: 13px;
    cursor: pointer;
    box-sizing: border-box;
  
  
  }
  #aboutstyle2 {
    padding: 10px 10px;
    border: 1px solid rgb(0, 0, 0);
    /* background-color: rgb(58, 25, 58); */
    color: rgb(255, 255, 255);
    border-radius: 13px;
    cursor: pointer;
    box-sizing: border-box;
  
  
  }
  
  #aboutstyle:hover {
    color: rgb(0, 0, 0);
    /* background-color: rgb(217, 0, 255); */

  
  }
  #aboutstyle2:hover {
    color: rgb(0, 0, 0);
    /* background-color: rgb(217, 0, 255); */

  
  }
  
  .aboutbutton {
    text-decoration: none;
  }
  .aboutbutton2 {
    text-decoration: none;
  }
  
  #element {
    color: rgb(102, 0, 255);
    
  }
  
  p {
    font-size: 16px;
    font-weight: 750;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    display: flex;
    margin: 20px;
  }

  .icons {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    margin-top: 30px;
}
.mediaicons {
  font-size: 20px;
  cursor: pointer;
 
}
.mediaicons:hover {
  color: rgb(255, 0, 0);
  font-size: 23px;
  display: flex;
  transition: all ease 0.2s;
}
.copy{
  font-size: 15px;
  font-weight: 500;
  font-family: bold;
  margin: 10px 20px;
  margin-top: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;

}
hr{
  margin-bottom: 30px;
}

  
  @media screen and (orientation: portrait) {
    .header{
      width: 100%;

    }
  
    #Stylebutton {
      padding: 10px 10px;
      border-radius: 12px;
      gap: 10px;
    }
  
    .clickoption {
      margin: 2px;
    }
  
    .SMlogo {
      align-items: center;
      justify-content: center;
      margin-left: 18px;
      width: 69px;
      height: 42px;
    }
    .allcontent{
      margin-top: -30px;
    }
     /* h3{
      font-size: 19px;
      width: 100px;
      height: 200px;
     } */
  
    p {
      font-size: 14px;
      font-weight: 700;
      margin: 20px 40px;
  
  
  
    }
  
    .aboutbut {
      margin-top: 5px;
    }
  
    #aboutstyle {
      padding: 8px 17px;
      
    }
    .mediaicons{
      margin-top: 110px;
    }
  }

  
  
  
  

  
